@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
body {
    background-color: #247BA0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Kameron;
}

::selection {
    background: #98f0ff;
    text-shadow: none;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#header {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CBD4C2;
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 20px;

}
#header:hover{
color:rgb(17, 139, 129);
}
#about:hover{
color:rgb(0, 56, 129);
}

#footer {
    width: 35%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 32.5%;
    background-color: #CBD4C2;
    justify-content: center;
    border-radius: 40px;
}

#about {
    width: 40%;
    position: fixed;
    bottom:20%;
    left: 30%;
    background-color: #CBD4C2;
    justify-content: center;
    border-radius: 40px;
    padding:10px;
}
#levels {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.level_option {
    background-color: #CBD4C2;
    border-radius: 40px;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size:25px;
}
.header_link {
    background-color: #CBD4C2;
    border-radius: 40px;
    width: 30%;
    height: 100px;
    text-decoration: none;
    color: black;
}

.level_option:hover {
    background-color: #868d80;
    cursor: pointer;
}

.level_option:active {
    transform: translateY(4px);
    box-shadow: 0 1px #2980b9;
}


#a_hidden {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#contents {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CBD4C2;
    border-radius: 40px;
    padding: 20px;
}

#page_change_buttons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

button {
    background-color: rgb(0, 255, 115);
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    box-shadow: 0 5px #007c06;
    transition: all 0.1s ease;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 179, 80);
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 1px #2980b9;
}

p {
    font-size: 30px;
}

.link_shown{
    text-decoration:underline;
    color:blue;
}
a{
    text-decoration:none;
    color:black;
}
.header_link h1,
.header_link h2 {
    color: black;
    text-decoration: none;
}
